# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Database
applications.db

# Logs
*.log

# Generated outputs
data/outputs/

# Sensitive files
*.env


# IDE
.vscode/
.idea/
